.tabsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 10px;
}

.tabSeparator {
  background-color: #aaa;
  height: 16px;
  width: 1px;
  display: flex;
}

.chartsScroll {
  max-width: 100%;
  overflow-x: auto;
}

.chartsWrapper {
  overflow-x: auto;
  min-width: 550px;
}
